<h1> Viewing Party Light</h1>
<%= link_to "Home Page", root_path, method: :get %>

<%= button_to "Create New User", register_path, method: :get %>

<p>OR</p>

<%= link_to 'Log In', login_path %>
<%= link_to 'Log Out', '/logout', method: :delete %>

#need to finsih and include log out logic to find if current user is logged in first.

<% @users.each do |user| %>
<%= link_to user.name, user_path(user) %>
<% end %>

